<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/style.css">
    <script defer src="/app.js"> </script>
</head 
<body>
    <div class="main-content">{{>header}}
        <p style="color: #c84b31;">For any Queries Contact me by</p>
        <p style="color: #F3C892;">Email : hr15171517hr@gmail.com</p>
        <p style="color: #F3C892;">Phone No: 9390128949</p>
    </div>
     {{>footer}}
</body>
</html>